doctype html 

html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom 
        //MVP.css는 우리가 태그에 class나 id같은 특성을 추가하지 않아도 자동으로 스타일을 적용해주는 라이브러리다.
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        //h1 It works!
        header 
            h1 Zoom 
        main 
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400")
                button#mute Mute 
                button#camera Turn Camera Off 
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")

